<%= form_for([@article, @article.comments.build]) do |f| %>
  <p>
    <%= label_tag :commenter %>
    <%= f.select :user_id, options_for_select(User.pluck( :name, :id )) %>
  </p>
  <p>
    <%= f.label :body %>
    <%= f.text_area :body %>
  </p>
  <p>
    <%= f.submit %>
  </p>
<% end %>