<%= form_for @article do |f| %>
  
  <% if @article.errors.any? %>
    <div id="error_explanation">
      <h2>
        <%= pluralize(@articles.errors.count, "error") %> prohibited this article from being saved:
      </h2>
      <ul>
        <% @article.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <p>
    <%= label_tag :users %>
    <%= f.select :user_id, options_for_select(User.pluck( :name, :id )) %>
  </p>

  <p>
    <%= f.label :title %>
    <%= f.text_field :title %>
  </p>

  <p>
    <%= f.label :text %>
    <%= f.text_area :text %>
  </p>

  <p>
    <%= f.submit %>
  </p>
  
<% end %>